
.categoryContainer{
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.categoryBox{
    height: 9rem;
    border-radius: 7px;
    background-color: #037afb;
    display: flex;
    flex-flow: column;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    font-family:  sans-serif;
    color: white;
}
.categoryName{
    color: white;
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
div {
    display: block;
}
.section-padding {
    padding: 60px 0;
}
.row{
    display: flex;
}
#tiles{
align-content: center;
   /* max-width: 1200px;*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

body
{
    font-family: 'Lato', sans-serif;
   /* background-color: #7d7f83;*/
}

a
{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

a:hover
{
    color:#3498db;
    text-decoration: none;
}



#logoutButton:hover
{
    color:#3498db;
    text-decoration: none;
}

/* WIDTH */


.w-30
{
    width:30%;
}

.w-35
{
    width:35%;
}

.w-40
{
    width:40%;
}

.w-60
{
    width:60%;
}


/*BG COLOURS */

.gray
{
    background-color:#f5f5f5;
}

.bg-ourcolor1
{
    background-color:#007bff;
}

/* FONTS */

.f-10
{
    font-size:10px;
}

.f-12
{
    font-size:12px;
}

.f-14
{
    font-size:12px;
}

.f-16
{
    font-size:16px;
}

.f-18
{
    font-size:18px;
}


.f-lightblack
{
    color:#333;
}

.f-white
{
    color:#fff;
}

.f-ourcolor1
{
    color: #2794ea;
}

/* LINE HEIGHT */
.lh-35
{
    line-height: 30px;
}
/* BORDER RADIUS: */

.br-10
{
    border-radius:10px;
}
.br-20
{
    border-radius:20px;
}
.br-30
{
    border-radius:30px;
}

.br-circle
{
    border-radius:50% !important;
}

.main-content-color
{
    background-color: #3498db;
}

.main-content-color-reverse
{
    background-color:#ffffff;
}


.font-menu-color
{
    color:#117dc5;
}

/* BORDERS */
.border-radius-20
{
    border-radius:20px;
}

.border-radius-40
{
    border-radius:40px;
}

.border-color-blue
{
    border:2px solid #3498db;
}

/* BOX SHADOWS */

.box-shadow-black
{
    -webkit-box-shadow: 1px 1px 5px 0px rgba(2,2,2,0.7);
    box-shadow: 1px 1px 5px 0px rgba(2,2,2,0.7);
}

/* HR BEFORE AFTER*/

.myHr
{
    font-size: 1.1rem;
    color: #333;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.myHr::before
{
    position: absolute;
    content: '';
    height: 3px;
    width: 25%;
    margin-left: -30%;
    bottom: 11px;
    background-color: #03A9F4;
}

.myHr::after
{
    position: absolute;
    content: '';
    height: 3px;
    width: 25%;
    margin-left: 5%;
    bottom: 11px;
    background-color: #03A9F4;
}

/* ICONS */

.menu-container
{
    border-bottom:1px solid black;
    background-color:#ffffff;
    padding-bottom:0;
}

.icon-container
{
    font-size:20px;

}

.icon-title
{
    font-size:12px;
    color: #5795c6;
    font-weight:600;
}

/* SECTIONS */

.section-padding {
    padding: 60px 0;
}
.section-title
{
    font-size: 30px;
    color: #333;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.section-title:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 6%;
    margin-left: -10%;
    bottom: 11px;
    background-color: #03A9F4;
}

.section-title:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 6%;
    margin-left: 3%;
    bottom: 11px;
    background-color: #03A9F4;
}

.sub-title {
    font-size: 20px;
    color: #707070;
    font-weight: 500;
}

/* HEADER & MOBILE MENU */

.main-header
{
    display:none !important;
}
.main-header-tablet
{
    display:none !important;
}

.mobile-menu
{
    display:block;
}

.margin-mobile-menu
{
    margin: 0 5% 0 5%;
}

.navbar-font-ul
{
    font-size:1.1rem;
}

.navbar-icon
{
    font-size:1.3rem;
}

.hidden-nav-menu
{
    display: block;
    position:absolute;
    z-index:1002;
    width:400px;
    height:100%;
    right:0;
    top:0;
}

.title-hidden-nav
{
    font-size:22px;
    margin-bottom:0;
    border-left:1px solid rgba(0,0,0,.125);
    border-right:1px solid rgba(0,0,0,.125);
    background:#fff;
}

.li-hidden-nav
{
    border:none;
    border-top:1px solid rgba(0,0,0,.125);
}

/* INTRO SECTION */

#intro-bg
{
    background-image: url("../img/bg1.jpg");
    background-size:cover;
    color:white;
    overflow: hidden;
    position: relative;
}
.overlay
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 59, 77, 0.88);
}

.contents
{
    max-width:100%;
    display:inline-block;
}

.dropdown-margin
{
    margin-top:10px;
}

/* ADVERTISMENT BOX */

.AdvertContentBox
{
    width:100%;
    margin-bottom:30px;
    margin-top:30px;
}

.advertContentDesciption
{
    background: #fff;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #ebebeb;
}

.advertTitle
{
    font-weight: 700;
}

.advertUl
{
    color:red;
}

.AdvertBorderRadius
{
    border-radius:0 30px 30px 0;
}

.img-h-our1
{
    height:240px !important;
}
/* OTHERS */


/* Newsletter */

#newsletter {
    /*background: #ececec;*/
    background: rgb(251, 251, 254);
    background: linear-gradient(90deg, rgba(251, 251, 254, 0.9556197478991597) 0%, rgba(23, 185, 223, 1) 0%, rgba(116, 126, 235, 1) 100%);
}
/*styl do zakładki kontakt pozniej przerzuce do innego pliku obiecuje ~damian*/
.myCircle
{
    border-radius:60px;
}
.vl{
    border: 2px solid dodgerblue;
    padding-top: 0;
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
    border-radius: 2px;
}
.vl2{
    border: 2px solid #83c6ff;
    padding-top: 0;
    margin-bottom: 0.35rem;
    margin-top: 0.35rem;
    border-radius: 2px;

}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.kontakt p{
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
.mailcontact p{
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}

/* Login &* Register SECTION */

#userPassword, #userLogin, #logIn
{
    margin-top:0%;
}

#registerHelp
{
    display:block;
}


/* FOOTER SELECTION*/

.footer-socials li {
    display: inline-block;
    margin: 5px;
    list-style: none;
}
/*p {*/
/*    font-weight: 400;*/
/*    margin: 0;*/
/*    font-size: 14px;*/
/*}*/

.footer-content{
    background-color: #153039;
    padding: 40px 0 40px 0;
    color: #bfbfbf;
}


.footerLogo{
    font-size: 30px;
    padding: 20px;
    padding-left: 10px;

}
#footerCopyright {
    background: #03a9f4;
    padding-top: 15px ;
    color: #ffffff;
}
.links-menu{
    padding-left: 0;
}

.block-title{
    color: #ffffff;
    font-family: montserrat,sans-serif;
    font-size: 18px;
    padding-bottom: 7px;
}
.footerDescription{
    font-size: 14px;
}
footer .links-menu li {
    list-style: none;
    float: left;
    padding-bottom: 15px;
    width: 50%;
}
footer .links-menu li a {
    color: #bfbfbf;
    font-size: 15px;
}
.footer-contact{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.footer-contact li strong {
    float: left;
}
.footer-contact li span {
    margin-left: 40px;
    display: block;
    padding-bottom: 15px;

}

.rounded-icon {
    font-size: 15px;
    width: 30px;
    height: 30px;
    /*padding: 10px;*/
    text-align: center;
    border-radius: 50px;
    background: #03a9f4;
    color: #ffffff;
}
.fab:hover {
    opacity: 0.7;
}

/*ADVERT*/
.height-600{
    height: 600px;
}
.height-auto{
    height: auto;
}
.margin-auto{
    margin: auto;
}
.cyan{
    color: cyan !important;
}
.other-photo{
    height: 7vh;
    width: auto;
}
.ad-font-color {
    color: #03A9F4;
}
.img-center{
    display: flex;
    align-items: center;
}
.link {
    color: #000000;
    text-decoration: none;
}


.catList li{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-top: 1px solid #dbdbdb;
    padding-left: 4px;
    padding-right: 4px;
}
.catList a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #919191;
}

.catList a:hover{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #787adb;
    text-decoration: none
}
.advert-tag{
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    font-size: 14px;
    border-radius: 50px;
    padding: 4px 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    bottom: 0;
    position: absolute;

}
.img-adv{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 10px;
}
.cena{
    z-index: 9;
    position: absolute;
    right: 20px;
    top: 20px;
    display: inline-block;
    border-radius: 50px;
    background-color: #03A9F4;
    color: #fff;
    padding: 4px 18px;
}

/*ADVERT*/
.height-600{
    height: 600px;
}
.height-auto{
    height: auto;
}
.margin-auto{
    margin: auto;
}
.cyan{
    color: cyan !important;
}
.other-photo{
    height: 7vh;
    width: auto;
}
.ad-font-color {
    color: #03A9F4;
}
.img-center{
    display: flex;
    align-items: center;
}
.link {
    color: #000000;
    text-decoration: none;
}

@media (min-width: 950px)
{

}
/*category.html css*/
.catTable{
    padding-top: 5px;
    box-shadow: 0px 0px 10px rgb(175 175 175 / 23%);
}
.catList {
    padding: 4px 0px 0px 1px;
    color: #011000;
    list-style-type: none;
}



@media (min-width: 950px)
{

}

@media (min-width: 1200px)
{
    /* MOBILE MENU */
    .mobile-menu
    {
        display:none;
    }

    .navbar
    {
        display:none !important;
    }

    .main-header-tablet
    {
        display:none !important;
    }
    .main-header
    {
        display:block !important;
    }

    #registerHelp
    {
        display:none !important;
    }

    #userPassword, #userLogin, #logIn
    {
        margin-top:10%;
    }
}

